table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 4px solid purple;
}

input:invalid {
  border: 2px dashed grey;
}

input:valid {
  border: 2px solid black;
}

#header {
  background-color: lightgrey;
}
#storeIntro {
  text-align: center;
  padding-top: 30px;
}

.navLi {
  display: inline;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

#nav {
  text-align: center;
}

#topLogo {
  text-align: center;
  font-size: 250%;
}